h2{
    color: rgb(218, 12, 12);
    text-align: center;
}

.table_data {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table_data th, .table_data td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .table_data th {
    background-color: var(--accent-color);
    color: white;
  }
  
  .table_data tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  

.login-container {
    text-align: center;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 30px; 
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.submit-button {
    background-color: rgb(218, 12, 12);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.submit-button:hover {
    background-color: darkred;
}